.box-img {
  width: 13rem;
  height: 13rem;
  padding: 2px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
