.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 10px;
    }
    // div {
    //     display: flex;
    //     align-items: center;
    // }
}