.container_link-name {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.box_input-form-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box_info_link-name {
  a {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 11px;
    color: #6e6e6e;
  }
}

.box_text-link-personalize {
  margin-bottom: 2.5rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.box_input-namelink {
  margin-bottom: 2rem;

  button {
    padding: 0.5rem 2rem;
    background-color: #62ff5f;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
}

.box_input-namelink-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  span {
    position: absolute;
    color: #222;
    z-index: 888;
    margin-left: 10px;
  }

  input {
    width: 100%;
    padding: 10px 10px 10px 8.8rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    outline: none;
    border: none;
  }

  div {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.box_info-image {
  max-width: 30rem;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.card_error-nameLink {
  width: 100%;
  height: auto;

  position: absolute;
  left: 0;
  bottom: -2.6rem;
  font-size: 13px;
}

@media (max-width: 850px) {
  .container_link-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box_info_link-name {
    padding: 0px;
  }

  .box_info-image {
    display: none;
  }
}
