.container_user {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.container_nav-link {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  padding: 10px;
}

.sing-out {
  background-color: transparent;
  border: none;
  cursor: pointer;
  :hover {
    color: #333;
  }

  svg {
    color: #f2f2f2;
  }
}

.box_info-user {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 input,
  p input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #f2f2f2;
  }

  h1 input {
    font-size: 2rem;
  }

  p {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;

    textarea {
      max-width: 350px;
      width: 100%;
      min-height: 120px;
      max-height: 200px;
      //height: 200px;

      background-color: transparent;
      color: #fff;
      border: none;
      outline: none;
      resize: none;
    }
  }
}

.hider_box-img-user {
  div {
    position: relative;
    max-width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px dashed rgba(0, 0, 0, 0.3);

    input {
      display: none;
      z-index: 800;
      position: absolute;
      max-width: 13rem;
      height: 13rem;
      background-color: transparent;
      border-radius: 50%;
      border: 2px dashed rgba(0, 0, 0, 0.3);
      cursor: pointer;
      opacity: 0;
    }

    span {
      display: none;
      position: absolute;
      z-index: 900;
      top: 20px;
      right: 1rem;
    }

    &:hover {
      input,
      span {
        display: none;
      }
    }

    img {
      position: relative;
      max-width: 13rem;
      height: 13rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        max-width: 13rem;
        height: 13rem;
      }
    }
  }
}

.box_img-user {
  div {
    position: relative;
    max-width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px dashed rgba(0, 0, 0, 0.3);

    input {
      display: none;
      z-index: 800;
      position: absolute;
      max-width: 13rem;
      height: 13rem;
      background-color: transparent;
      border-radius: 50%;
      border: 2px dashed rgba(0, 0, 0, 0.3);
      cursor: pointer;
      opacity: 0;
    }

    span {
      display: none;
      position: absolute;
      z-index: 900;
      top: 20px;
      right: 1rem;
    }

    &:hover {
      input,
      span {
        display: flex;
      }
    }

    img {
      position: relative;
      max-width: 13rem;
      height: 13rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        max-width: 13rem;
        height: 13rem;
      }
    }
  }
}

// change width
.change_width-desktop {
  width: 100%;
}

.change_width-mobile {
  max-width: 50%;
  width: 100%;
  margin: auto;

  .container_user {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .box_info-user {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    input {
      text-align: center;
    }
  }
}

.box_login-shared-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #d8d8d8;

  a {
    background-color: rgb(70, 70, 70);
    color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 1rem;
    text-decoration: none;

    &:hover {
      scale: 1.03;
    }
  }
}

// mobile
@media (max-width: 700px) {
  .box_img-user {
    div {
      margin: 0 auto;
      max-width: 12rem;
      height: 12rem;
      img {
        max-width: 12rem;
        height: 12rem;
      }
    }
  }

  .box_info-user {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;

    input {
      display: flex;
      margin: auto;
      justify-content: center;
      text-align: center;
    }

    p {
      textarea {
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .container_user {
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    align-content: center;

    margin-top: 2rem;
    padding: 10px;
    height: auto;
  }

  .container_info-user {
    margin: 0 auto;
  }

  .container_infor-use {
    margin: auto;
  }

  // link shared
  .hiderHoover {
    div {
      &:hover {
        input,
        span {
          display: none;
        }
      }
      img {
        max-width: 12rem;
        height: 12rem;

        &:hover {
          display: none;
        }
      }
    }
  }
}
